#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.SH {
	max-width: 10rem;
	margin: auto;
	padding: auto;
	text-align: center;
}

input {
	width: 240px;
	text-align: center;
}